@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topBarSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 90%;
    min-width: 80%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white ;
}

.companyTitle h2 {
    color: green;
    cursor: pointer;
}

.link{
    text-decoration: none;
}

.itemSection {
    
    display: flex;
    width: 100%;
    /* height: 200px; */
    margin-top: 80px;
}

.gallery {
    
    width: 150px;
    height: 130px;
    /* padding: 5px; */
    margin: 10px;
   
}

.gallery img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.landingSection {
    padding: 0 100px;
    
}



.btnSection {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    position: relative;
    top: 50px;
    right: 10px;
    gap: 10px;
}

.btnSection button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.btnIcons{
    font-size: x-large;
}

.chainSection {
    display: flex;
    overflow-x: hidden;
    position: relative;
    height: auto;
}

.vendorBox {
    border-radius: 15px;
}

.vendorBox img {
    width: 350px;
    height: 220px;
    flex: 0 0 auto;
    margin-right: 30px;
    object-fit: cover;
    border-radius: 15px;
}

.filterButton{
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    
}

.firmSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin:0 auto;

}

.firmGroup{
    
}

.firmGroup img {
    width: 350px;
    height: 220px;
    flex: 0 0 auto;
    margin-right: 30px;
    object-fit: cover;
    border-radius: 15px;
}

.firmDetails{
   
}


.firmName{
    color: black;
}

.firmArea{
    color: gray;
    font-size: small;
}

.productSection {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    margin-top: 50px;
}

.productSection h3 {
        text-align: center;
        background-color: green;
    }

.productBox{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: relative;
}

.productGroup img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.AddButton{
    border: 1px solid lightgray;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    color: green;
    position: absolute;
    bottom: 10px;
    width: 100%;
    max-width: 80px;
    margin-left: 10px;
    cursor: pointer;
}


.firmLink{
    color: black;
}

.loaderSection{

    display: flex;
    justify-content: center;
    align-items: center;
    
}

 /*576, 756, 1024, 1140, 1380 */
@media (max-width:576px ) {
    .topBarSection {
        padding: 0px 25px; 
    }
    .landingSection{
        padding: 0px 10px;
    }
    .itemSection{
        margin-top: 90px;
    }
    h3{
        font-weight: 600;
        font-size: medium;
    }
    .chainSection{
        height: 190px;
    }
    .vendorBox img {
        width: 260px;
        height: 180px;
        flex: 0 0 auto;
        margin-right: 30px;
        object-fit: cover;
        border-radius: 15px;
    }
    .mediaChainSection {
        margin-top: -30px;
    }

    .filterButton{
        border: 1px solid red;
    }
    .firmSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .firmGroup img{
        width:300px;
    }
    .productSection {
        padding: 0px 10px;
    }
    .productSection h3 {
        text-align: center;
        background-color: green;
    }


}              
